[Desktop Entry]
Type=Application
Exec=sh -c "/home/xxx/Documents/vega-server-gateway"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Vega Server Gateway
Name=Vega Server Gateway
Comment[en_US]=
Comment=
